<div class="pure-g-r">
    <div class="pure-u-1-2">
        <div class="brand">
            <div class="brand">
                <img src="assets/img/iphone 11 תמונת.jpg" alt="apple" width="400" height="400">
                <h3>iphone 11</h3>
                <p>
                    Apple's new iPhone 11 comes with a 6.1-inch LCD screen,
                    an upgraded Face ID device and an A13 Bionic processor.
                    The new device has a longer battery life and improved FaceID (FaceID) system that can recognize
                    us from challenging angles.
                    The photography system has also been upgraded to include a 12-megapixel sensor,
                    with an exceptionally wide lens,
                    that will provide a much wider field of photography and allow for much more detail to be
                    captured.
                </p>
            </div>
        </div>
    </div>

    <div class="pure-u-1-2">
        <div class="brand">
            <img src="assets/img/iphone xs max תמונת.gif" alt="apple">
            <h3>iphone xs max</h3>
            <p>
                IPhone XS MAX has a huge 6.5-inch HDR screen that supports HDR for an upgraded Face ID device and
                A12 Bionic processor.
                This device has a Dual SIM - with the secondary sim being eSIM and the main sim physical.
            </p>

        </div>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1-2">
        <div class="brand">
            <div class="brand">
                <img src="assets/img/iphone 8 pluse תמונת.gif" alt="apple">
                <h3>iphone 8 pluse </h3>
                <p>
                    iPhone 8 Plus is made of rugged aluminum and glass that surrounds it on both sides, 
                    a magnified 5.5-inch screen (compared to the iPhone 8) and a True Tone display that gives
                    precision in the color display on the screen.
                    For a 6-core Apple A11 Bionic chipset,
                    3GB of RAM and 64GB or 256GB internal memory.
                    The iPhone 8 Plus supports Qi wireless charging and IOS 11 operating system
                </p>
            </div>
        </div>

    </div>

    <div class="pure-u-1-2">
        <div class="brand">
            <img src="assets/img/iphone7plus.jpg" alt="apple" width="400" height="400">
            <h3>iphone7plus</h3>
            <p>
                IPhone 7 Plus,
                with a round touchpad that responds to light vibration.
                The device is resistant to water and dust. It does not have a standard headphone jack,
                and it comes with a suitable headphone to connect the charging jack.
                For iPhone 7 plus 5.5-inch screen,
                4-core processor,
                IOS 10 system and 2GB working memory.
            </p>
        </div>
    </div>
</div>
<div class="pure-u-1-2">
    <div class="brand">
        <img src="assets/img/iphone4.jpg" alt="apple" width="400" height="400">
        <h3>iPhone4 </h3>
        <p>
            IPhone 4 (iPhone 4) is a touchscreen smartphone from Apple and the fourth generation of its iPhone
            series.
            The device was announced on June 7, 2010 at Apple's WWDC conference in San Francisco and offered for
            sale on June 24, 2010 in the United States,
            United Kingdom, France, Germany and Japan.
            e processor,
            IOS 10 system and 2GB working memory.
        </p>
    </div>
</div>
