<div class="pure-g-r">
    <div class="pure-u-1">
        <h1 id="c4" >Ipod Touch</h1>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1-2">
        <div class="brand">
            <div class="brand">
                <img src="assets/img/ipod4.png" alt="apple">
                <h3>iPod Touch (4th generation)</h3>
                <p>
                    he iPod touch (4th generation) (colloquially known as the iPod Touch 4G or the iPod touch 4) was
                    the 4th generation iPod Touch by Apple Inc. Released alongside the iPhone 4, it was the first
                    iPod to offer front and rear facing cameras. Like the iPhone 4, it used the Apple A4 chip. It
                    fully supports iOS 4, and iOS 5, but has limited support for iOS 6 and unlike the iPhone 4, the
                    device did not get iOS 7 due to performance issues.
                </p>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="brand">
            <img src="assets/img/ipod5.png" alt="apple">
            <h3>iPod Touch (5th generation)</h3>
            <p>
                The fifth-generation iPod Touch (stylized and marketed as the iPod touch, and colloquially known as
                the iPod Touch 5G or iPod Touch 5) was unveiled at Apple's media event alongside the iPhone 5 on
                September 12, 2012, and was released on October 11, 2012. An all-purpose pocket computer designed
                and marketed by Apple Inc. with a touchscreen-based user interface, it succeeded the 4th-generation
                iPod Touch.
            </p>
        </div>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1-2">
        <div class="brand">
            <div class="brand">
                <img src="assets/img/ipod6.png" alt="apple">
                <h3>iPod Touch (6th generation)</h3>
                <p>
                    The sixth-generation iPod Touch (stylized and marketed as the iPod touch, and colloquially known
                    as the iPod touch 6G, iPod touch 6, iPod touch (2015) or iPod 6, [3] is a multipurpose handheld
                    device designed and marketed by Apple Inc. with a touchscreen-based user interface. It is the
                    successor to the iPod Touch (5th generation), becoming the first major update to the iPod lineup
                    in more than two and a half years.
                </p>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="brand">
            <img src="assets/img/ipod7.PNG" alt="apple">
            <h3>iPod Touch (7th generation)</h3>
            <p>
                The seventh-generation iPod Touch (stylized and marketed as the iPod touch, and colloquially known
                as the iPod touch 7G, iPod touch 7, or iPod touch (2019)) is a multipurpose handheld device designed
                and marketed by Apple Inc. with a touchscreen-based user interface. It is the successor to the iPod
                Touch (6th generation), becoming the first major update to the iPod touch since 2015. It was
                released on the online Apple Store on May 28, 2019.
            </p>
        </div>
    </div>
</div>
