<style>
    .topleft {
        position: absolute;
        top: 8px;
        left: 16px;
        font-size: 18px;
    }

    h4 {
        color: white;
    }

    h5 {
        color: white;
    }
</style>


<div class="pure-menu pure-menu-open  pure-menu-horizontal" id="top-menu">
    <ul>
        <li><a href="#c1">Home</a></li>
        <li><a href="#c2">Iphone</a></li>
        <li><a href="#c3">Ipad</a></li>
        <li><a href="#c4">Ipod touch</a></li>
        <li><a href="#c5">Macintosh</a></li>
        <li><a href="#c6">Apple Watch</a></li>
        <li><a href="#c7">Apple TV</a></li>
        <li><a href="#c8">Contact Us</a></li>
    </ul>
</div>

<!------------------------image-------------------------------->
<div class="pure-g-r">
    <div class="pure-u-1">
        <img src="assets/img/logoApple.PNG">
        <div class="topleft" color="white">
            <h4><br /><br />Sign Up</h4>
            <h5>
                your name:<input type="text" name="fname"><br /><br />
                password:<input type="password" name="fname"><br /><br />
                <input type="button" value="send" onclick="check()">
            </h5>
        </div>
    </div>
</div>

<div class="pure-g-r">
    <div class="pure-u-1">
        <h1>Apple</h1>
    </div>
</div>

<!--------------pure-g-r div---------------------------->
<div class="pure-g-r">
    <!--------------1/2 left div---------------------------->
    <div class="pure-u-1-2">
        <div class="brand">
            <div class="content pure-u-1  picture_frame">
                <div class="brand">
                    <a><img src="assets/img/iphone.PNG" alt="apple"></a>
                </div>
            </div>
        </div>
    </div>
    <!--------------1/2 right div---------------------------->
    <div class="pure-u-1-2">
        <div class="brand">
            <h3>Iphone</h3>
            <p>
                The iPhone is a line of smartphones designed and marketed by Apple Inc. All generations of the
                iPhone use Apple's iOS mobile operating system software. The first-generation iPhone was released on
                June 29, 2007, and multiple new hardware iterations with new iOS releases have been released since.
                The user interface is built around the device's multi-touch screen, including a virtual keyboard.
                The iPhone has Wi-Fi and can connect to cellular networks. An iPhone can take photos, play music,
                send and receive emails.
            </p>
        </div>
    </div>
</div>
<div class="pure-g-r">
    <!--------------1/2 right div---------------------------->
    <div class="pure-u-1-2">
        <div class="brand">
            <h3>Ipad</h3>
            <p>
                On January 27, 2010, Apple introduced their much-anticipated media tablet, the iPad.[283][284] It
                offers multi-touch interaction with multimedia formats including newspapers, e-books, photos,
                videos, music, word processing documents, video games, and most existing iPhone apps using a
                9.7-inch screen.[285] It also includes a mobile version of Safari for web browsing, as well as
                access to the App Store, iTunes Library, iBookstore, Contacts, and Notes.
            </p>
        </div>
    </div>
    <!--------------1/2 left div---------------------------->
    <div class="pure-u-1-2">
        <div class="brand">
            <div class="content pure-u-1  picture_frame">
                <div class="brand">
                    <a><img src="assets/img/ipad.png" alt="apple"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pure-g-r">
    <!--------------1/2 left div---------------------------->
    <div class="pure-u-1-2">
        <div class="brand">
            <div class="content pure-u-1  picture_frame">
                <div class="brand">
                    <a><img src="assets/img/ipod.PNG" alt="apple"></a>
                </div>
            </div>
        </div>
    </div>
    <!--------------1/2 right div---------------------------->
    <div class="pure-u-1-2">
        <div class="brand">
            <h3>Ipod touch</h3>
            <p>
                On October 23, 2001, Apple introduced the iPod digital music player. Several updated models have
                since been introduced, and the iPod brand is now the market leader in portable music players by a
                significant margin. More than 390 million units have shipped as of September 2015.[244] Apple has
                partnered with Nike to offer the Nike+iPod Sports Kit, enabling runners to synchronize and monitor
                their runs with iTunes and the Nike+ website.
            </p>
        </div>
    </div>
</div>
<div class="pure-g-r">
    <!--------------1/2 right div---------------------------->
    <div class="pure-u-1-2">
        <div class="brand">
            <h3>Macintosh</h3>
            <p>
                he Macintosh (mainly Mac since 1998)[1] is a family of personal computers designed, manufactured,
                and sold by Apple Inc. since January 1984.
                The original Macintosh is the first successful mass-market personal computer to have featured a
                graphical user interface, built-in screen, and mouse.[2] Apple sold the Macintosh alongside its
                popular Apple II family of computers for almost ten years until the latter was discontinued in 1993.
            </p>
        </div>
    </div>
    <!--------------1/2 left div---------------------------->
    <div class="pure-u-1-2">
        <div class="brand">
            <div class="content pure-u-1  picture_frame">
                <div class="brand">
                    <a><img src="assets/img/mac.PNG" alt="apple"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pure-g-r">
    <!--------------1/2 left div---------------------------->
    <div class="pure-u-1-2">
        <div class="brand">
            <div class="content pure-u-1  picture_frame">
                <div class="brand">
                    <a><img src="assets/img/watch.PNG" alt="apple"></a>
                </div>
            </div>
        </div>
    </div>
    <!--------------1/2 right div---------------------------->
    <div class="pure-u-1-2">
        <div class="brand">
            <h3>Apple Watch</h3>
            <p>
                The original Apple Watch smartwatch was announced by Tim Cook on September 9, 2014, being introduced
                as a product with health and fitness-tracking.[300][301] It was released on April 24,
                2015.
                The second generation of Apple Watch, Apple Watch Series 2, was released in September 2016,
                featuring greater water resistance, a faster processor, and brighter display. It was also released
                alongside a cheaper Series 1.
            </p>
        </div>
    </div>
</div>
<div class="pure-g-r">
    <!--------------1/2 right div---------------------------->
    <div class="pure-u-1-2">
        <div class="brand">
            <h3>Apple TV</h3>
            <p>
                At the 2007 Macworld conference, Jobs demonstrated the Apple TV (Jobs accidentally referred to the
                device as "iTV", its codename, while on stage), a set-top video device intended to bridge the sale
                of content from iTunes with high-definition televisions.[309] The device, running a variant of Mac
                OS X, links up to a user's TV and syncs over the wireless or wired network with one computer's
                iTunes library and can stream content from an additional four.
            </p>
        </div>
    </div>
    <!--------------1/2 left div---------------------------->
    <div class="pure-u-1-2">
        <div class="brand">
            <div class="content pure-u-1  picture_frame">
                <div class="brand">
                    <a><img src="assets/img/tv.jpg" alt="apple"></a>
                </div>
            </div>
        </div>
    </div>
</div>