<div class="pure-g-r">
    <div class="pure-u-1">
        <h1 id="c6" >Apple Watch</h1>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1-2">
        <div class="brand">
            <div class="brand">
                <img src="assets/img/1.jpg" alt="apple" width="400" height="400">
                <h3>apple watch Series 5</h3>
                <p>
                    The most advanced Apple Watch yet,
                    featuring the Always-On Retina display,
                    the ECG app,
                    international emergency calling,
                    fall detection,
                    and a built‑in compass.
                </p>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="brand">
            <img src="assets/img/2.jpg" alt="apple" >
            <h3>Apple Watch Nike</h3>
            <p>
                TGet connected through sport.
                Apple Watch Nike is the perfect running partner with the Nike Run Club app.
                Featuring a world of workouts,
                coaching,
                and motivation to help take your fitness to the next level.
                And with Apple Watch Series 5,
                every Nike watch face is optimized for the Always-On Retina display.
            </p>
        </div>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1-2">
        <div class="brand">

            <div class="brand">
                <img src="assets/img/4.png" alt="apple" width="400" height="400">
                <h3>Apple Watch Round </h3>
                <p>
                    Apple’s Watch was unveiled to the world earlier this week as a rounded square timepiece. 
                    While Motorola has opted for a circular smartwatch with the Moto 360,
                    Apple’s Watch will be available early next year in two square editions and a variety of
                    finishes. 
                    Square might be the only option in Apple’s smartwatch portfolio right now
                </p>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="brand">
            <img src="assets/img/6.jpg" alt="apple" width="400" height="400">
            <h3>Apple Watch Titanium</h3>
            <p>
                Titanium.
                An Apple Watch first.
                Titanium is one of the most sought-after materials in the watch world.
                It’s lighter than stainless steel,
                yet has twice the strength to weight ratio.
                For the natural brushed titanium finish,
                Apple invented a whole new surface treatment that is stain and fingerprint resistant to keep it
                looking immaculate.
                The space black titanium finish uses a diamond-like coating,
                making it both beautiful and incredibly durable.
            </p>
        </div>
    </div>
</div>

<div class="pure-u-1-2">
    <div class="brand">
        <img src="assets/img/5.jpg" alt="apple" width="400" height="400">
        <h3>Apple Watch Series 3 </h3>
        <p>
            Apple Watch Series 3 requires an iPhone 6s or later with iOS 13 or later.
            Wireless service plan required for cellular service.
            Apple Watch and iPhone service provider must be the same.
            Not all service providers support enterprise accounts;
            check with your employer and service provider.
            Roaming is not available outside your carrier network coverage area.
            Contact your service provider for more details.
        </p>
    </div>
</div>
