<div class="pure-g-r">
    <div class="pure-u-1-2">
        <div class="brand">
            <div class="brand">
                <img src="assets/img/ipad Air.jpeg" alt="apple" >
                <h3>ipad Air</h3>
                <p>
                    iPad Air brings more of our most powerful technologies to
                    more people than ever.
                    The A12 Bionic chip with Neural Engine.
                    A 10.5‑inch Retina display with True Tone.
                    Support for Apple Pencil
                    and the Smart Keyboard.
                    And at just one pound and 6.1 mm thin,
                    carrying all that power is effortless.
                </p>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="brand">
            <img src="assets/img/iPad.jpg" alt="apple" width="400" height="400">
            <h3>iPad</h3>
            <p>
                The new iPad combines the power and capability of a computer with the ease of use and versatility
                you’d never expect from one.
                And now it’s even more versatile,
                with a larger 10.2‑inch Retina display,
                support for the full-size Smart Keyboard, and the amazing new capabilities of iPadOS.
                It’s unbelievably fun.
                And unmistakably iPad.
            </p>
        </div>
    </div>
</div>
<div class="pure-g-r">

    <div class="pure-u-1-2">
        <div class="brand">
            <div class="brand">
                <img src="assets/img/ipad_pro.jpg" alt="apple" width="400" height="400">
                <h3>ipad_pro </h3>
                <p>
                    It’s a magical piece of glass.
                    It’s so fast most PC laptops can’t catch up.
                    It has pro cameras that can transform reality.
                    And you can use it with touch, pencil, keyboard, and now trackpad.
                    It’s the new iPad Pro.
                </p>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="brand">
            <img src="assets/img/iPadOS.jpg" alt="apple" width="400" height="400">
            <h3>iPadOS</h3>
            <p>
                iPadOS is the operating system specifically designed to take full advantage of everything that makes
                iPad iPad.
                A large Multi‑Touch display.
                Fast performance.
                Powerful apps.
                And now with trackpad support,
                it opens up entirely new ways to interact with iPad.
            </p>
        </div>
    </div>

    <div class="pure-u-1-2">
        <div class="brand">
            <img src="assets/img/ipad mini.jpg" alt="apple" width="400" height="400">
            <h3>ipad mini </h3>
            <p>
                iPad mini is beloved for its size and capability.
                And now there are even more reasons to love it.
                The A12 Bionic chip with Neural Engine.
                A 7.9‑inch Retina display with True Tone. And Apple Pencil,
                so you can capture your biggest ideas wherever they come to you.
                It’s still iPad mini.
                There’s just more of it than ever.
            </p>
        </div>
    </div>
