<div class="pure-g-r">
    <div class="pure-u-1">
        <h1 id="c7" >Apple TV</h1>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1-2">
        <div class="brand">
            <div class="brand">
                <img src="assets/img/tv.jpg" alt="apple">
                <h3>Apple TV 4K</h3>
                <p>
                    Apple has long taken a leadership role in restricting harmful substances from our products and
                    packaging. As part of this strategy, all Apple products comply with the strict European
                    Directive on
                    the Restriction of the Use of Certain Hazardous Substances in Electrical and Electronic
                    Equipment,
                    also known as the RoHS Directive. Examples of materials restricted by RoHS include lead,
                    mercury,
                    cadmium, hexavalent chromium, and the brominated flame retardants (BFRs) PBB and PBDE.
                    Apple TV 4K and Siri Remote goes even further than the requirements of the RoHS Directive by
                    incorporating the following more aggressive restrictions:
                    • Arsenic-free glass (Siri Remote)
                    • BFR-free
                    • PVC-free3
                    • Beryllium-free 
                </p>
            </div>
        </div>
    </div>


    <div class="pure-u-1-2">
        <div class="brand">
            <img src="assets/img/tv.jpg" alt="apple">
            <h3>Apple TV HD</h3>
            <p>
                Accessibility features help people with disabilities get the most out of their Apple TV HD. With
                built-in support for vision, hearing, physical and motor skills, and learning and literacy, you can
                easily find and enjoy your favorite entertainment.

                Features include:<br />

                •VoiceOver<br />
                •Zoom<br />
                •Bold Text<br />
                •Increase Contrast<br />
                •Reduce Motion<br />
                •Closed Caption and SDH Support<br />
                •Accessibility Shortcut<br />
            </p>
        </div>
    </div>
</div>
